{% extends 'paypilotapp/base.html' %}
{% load static %}

{% block title %} Paypilot - Fast and Relaible Way For Any Payment | Api And Globla Development {% endblock %}

{% block metadata %}
<meta name="description" content="" /> 
<link rel="canonical" href="https://{{request.path_info}}" />               
<meta property="og:site_name" content="PayPilot" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Paypilot - Fast and Relaible Way For Any Payment | Api And Globla Development" />
<meta property="og:description" content="" />
<meta property="og:image" content="https://{% static 'paypilotapp/images/favicon/favicon-32x32.png' %}" />
<meta property="og:locale" content="en_us" />
<meta property="og:url" content="https://{{request.path_info}}" />
<meta name="twitter:site" content="@Paypilot" />
<meta name="twitter:title" content="Paypilot - Fast and Relaible Way For Any Payment | Api And Globla Development" />
<meta name="twitter:description" content="" />
<meta name="twitter:creator" content="@withubb_staff" />
<meta name="twitter:image" content="https://{% static 'paypilotapp/images/favicon/favicon-32x32.png' %}" />
<meta property="twiter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="PayPilot logo" />

{% endblock %}

{% block content %} 

{% endblock %}